body {
  background-color: #838383;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #333;
  font-size: 36px;
  text-transform: uppercase;
}

p {
  color: #555;
  font-size: 18px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#message {
  color: #333;
  font-size: 20px;
  margin-top: 20px;
}
